header{
    background-color: white;
    padding: 2rem 4rem;
}

img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-family: Arial;
}

.font-black{
    color: black;
}

main{
    margin: auto;
    padding: 4rem;
    border-radius: 0.1rem;
    border: 4rem;
    color: white;
}

#button1{
    background-color: lightblue;
    border-radius: 20%;
    padding: 10px;
    display: inline;
    
}

#button2{
    background-color: white;
    border-radius: 20%;
    padding: 10px;
    display: inline;
}

.font-white{
    color: white;
}

.font-lightblue{
    color: lightblue;
}

footer{
    margin: 50%;
    padding: 2em;
    border-radius: 0.1rem;
    border-color: white;
    color: white;
}